[Desktop Entry]
Name=SkyInstaller
Comment=Japanese voice mod installer for the Trails in the Sky trilogy
Exec=skyinstaller
Type=Application
Icon=dev.chyyran.SkyInstaller
Categories=Utility;Game;